.u-overlay{
  background: linear-gradient(90deg, rgba(37, 36, 36, 0.6), rgba(139, 135, 135, 0));
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-in-out; // フェード時間
}

.loading-overlay.fade-out {
  opacity: 0;
}
@keyframes fadeScale {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(40);
  }
  100% {
    opacity: 0;
    transform: scale(40);
  }
}

.animate-fadeScale {
  animation: fadeScale 2.5s ease-in-out forwards;
}

.u-hero-lead{
  line-height: 1.8;
  top: 42%;
  left: 33%;
  z-index: 10;
  @media screen and (max-width: 1024px) {
    top: 42%;
    left: 20px;
  }
  &-loading{
    @media screen and (max-width: 1024px) {
      top: 39%;
    }
  }

}

.u-scroll-text{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: -130px;
    left: 50%;
    width: 1px;
    height: 120px;
    background: #fff;
    transform-origin: top;
    animation: scrollline 3s ease-in-out infinite;
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
}

@keyframes scrollline {
  0% {
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
  30% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
}