.u-store-link{
  .u-store-thumb{
    img{
      transition: 0.8s ease-in-out;
    }
  }
  &:hover{
    @media screen and (min-width: 1024px) {
      .u-store-thumb{
        img{
          transform: scale(1.05);
        }
      }
      .u-button-store{
        color: #1D1112;
        &::before{
          background-color: #1D1112;
        }
        &::after{
          transform: scale(1,1);
        }
      }
    }
  }
}

.u-store-wrapper{
  position: relative;
  background: linear-gradient(180deg, rgba(29, 17, 18, 1) 0%, rgba(29, 17, 18, 0.95) 73%, rgba(29, 17, 18, 0.9) 97%),
    url('/images/top/bg-minsa_pc.svg');
  background-repeat: repeat;
  background-position: center;
  &::before{
    position: absolute;
    content: "";
    top: -300px;
    left: 50%;
    width: 100%;
    height: 300px;
    transform: translateX(-50%);
    display: block;
    background: url('/images/top/bg-wh-blk_top_pc.png') no-repeat top center / cover;
    @media screen and (max-width: 1024px) {
      top: -140px;
      left: 50%;
      width: 100%;
      height: 140px;
    }
  }
  &::after{
    position: absolute;
    content: "";
    bottom: -150px;
    left: 50%;
    width: 100%;
    height: 150px;
    transform: translateX(-50%);
    display: block;
    background: url('/images/top/bg-wh-blk_btm_pc.png') no-repeat top center;
    background-size: 100%;
  }
}

.u-store-titleArea{
  background: url('/images/top/bg_store_pc.jpg') no-repeat top center;
  background-size: cover;
  padding: 40px 0;
  @media screen and (max-width: 1024px) {
    background: none;
  }
}

@media screen and (max-width: 1024px) {
  .u-store-head{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 200px;
      background: url('/images/top/bg_store_sp.jpg') no-repeat top center;
      background-size: cover;
      z-index: -1;
    }
  }
}