.u-link-blank{
  .u-aroow-blank{
    display: inline-block;
    transition: transform 0.3s ease;
  }
  &:hover{
    @media screen and (min-width: 640px) {
      .u-aroow-blank{
        transform: translate(4px, -4px);
      }
    }
  }
}

.u-textLink{
  transition: color 0.6s ease-in-out;
  &:hover{
    @media screen and (min-width: 640px) {
      color: #00B0C7;
    }
  }

}