.u-pageSecTitle-wrapper{
  &::after{
    content: "";
    width: 200px;
    height: 1px;
    display: block;
    background-color: #1D1112;
    margin: 0 auto;
  }
}

.u-PageSecTitleHor-wrapper {
  flex-shrink: 0;
  &::after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #1D1112;
    margin: 0 auto;
  }
}