.u-SliderNuchigusui{
  .custom-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: white;
      border: 1px solid #1D1112;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #1D1112;
    }
  }

}