.u-cv-text{
  margin-left: -5px;
}

.u-cv-line {
  position: relative;
  width: 1px;
  height: 60vh;
  display: block;
  background-color: #E9E9E9;
  margin: 8px auto 16px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      transparent,
      rgba(29, 17, 18, 0.8),
      transparent
    );
    animation: none;
  }
}

.u-cv-link:hover .u-cv-line::before {
  animation: shine-vertical 1s ease forwards;
}

@keyframes shine-vertical {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
