.u-footerCv-link{
  background: url('/images/common/bg_recruit_pc.jpg') no-repeat center / cover;
}

.u-footerCv-line {
  position: relative;
  overflow: hidden;
  &::after{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,0.8),
      transparent
    ) no-repeat;
    transform: translateX(-100%);
  }
}

.u-link-blank{
  &:hover{
    @media screen and (min-width: 640px) {
      .u-footerCv-line::after {
        animation: shine 0.8s ease-in-out forwards;
      }
    }
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}