.u-header-logo svg path{
  transition: 4s ease-in-out;
  @media screen and (max-width: 1024px) {
    transition: 0.4s ease-in-out;
  }
}
.u-nav-item{
  &:nth-child(1){
    .u-nav-link,i path{
      transition: 3.5s ease-in-out;
    }
  }
  &:nth-child(2){
    .u-nav-link,i path{
      transition: 3s ease-in-out;
    }
  }
  &:nth-child(3){
    .u-nav-link,i path{
      transition: 2.5s ease-in-out;
    }
  }
  &:nth-child(4){
    .u-nav-link,i path{
      transition: 2s ease-in-out;
    }
  }
  &:nth-child(5){
    .u-nav-link,i path{
      transition: 1.5s ease-in-out;
    }
  }
  &:nth-child(6){
    .u-nav-link,i path{
      transition: 1s ease-in-out;
    }
  }
  &:nth-child(7){
    .u-nav-link,i path{
      transition: 0.5s ease-in-out;
    }
  }
}

.u-navIcon{
  span{
    transition: 0.4s all;
  }
  &.js-open{
    span {
      &:nth-child(1) {
        transform: rotate(-28deg);
        margin: 12px auto 0;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(28deg);
        margin: 0;
      }
    }
  }
}

.u-top{
  .u-nav-link{
    @media screen and (max-width: 1024px) {
      color: white !important;
    }
  }
  .u-navIcon{
    &.js-open{
      span{
        @media screen and (max-width: 1024px) {
          background-color: white !important;
        }
      }
    }
  }
  .js-open &{
    .u-header-logo svg path{
      @media screen and (max-width: 1024px) {
        fill: white !important;
      }
    }
  }
}


@media screen and (max-height: 929px) {
  .u-header-logo{
    padding: 20px 0 !important;
  }
  .u-nav-item{
    padding-bottom: 10px !important;
  }
}

@media screen and (max-height: 929px) and (max-width: 1024px)  {
  .u-header-logo{
    padding: 0 !important;
  }
  .u-nav-item{
    padding-bottom: 24px !important;
  }
}